{
    "sourceMaps": true,
    "presets": [
        "@babel/preset-typescript",
        [ "@babel/preset-env", {
            "targets": {
                "node": "14"
            },
            "modules": "commonjs"
        } ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        [ "babel-plugin-module-resolver", {
            "root": [ "./src" ],
            "alias": {
                "@engine": "./dist/game-engine",
                "@plugins": "./dist/plugins"
            }
        } ]
    ]
}
