node_modules
.DS_Store
/dist
/data/dump
/data/saves/*.json
/data/config/server-config.yaml

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories.ts and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs
